
.vs/SpaceGame/v16/Server/sqlite3/db.lock
.vs/SpaceGame/v16/Server/sqlite3/storage.ide
.vs/SpaceGame/v16/Server/sqlite3/storage.ide-shm
.vs/SpaceGame/v16/Server/sqlite3/storage.ide-wal
SpaceGame/obj/Debug/SpaceGame.csprojAssemblyReference.cache
SpaceGame/obj/Debug/SpaceGame.csprojAssemblyReference.cache
